<h1>The Firework 烟火人间 </h1>

<h1 id="site-rules">Site rules</h1>
<p>Please refrain from:</p>
<ol>
  <li>Posting anything illegal or might get site owner in legal trouble in CA/EU/UK/US.</li>
  <li>Intentionally creating multiple accounts to circumvent people blocking you.</li>
  <li>Being a bot (unless you post unlisted and do not auto-follow).</li>
  <li>Any account setup solely to advertise a product or service.</li>
</ol>

<p>You are advised to:</p>
<ol>
  <li>Respect others as well as yourself.</li>
  <li>Keep your own backups.</li>
</ol>

<h1 id="opensource">Open Source Software</h1>
<p>This site is powered by Soapbox and Pleroma.</p>
<p>The Soapbox repository can be found at <a href="https://gitlab.com/soapbox-pub/soapbox-fe">Soapbox-fe</a></p>
<p>The Pleroma server repository can be found at <a href="https://git.pleroma.social/pleroma/pleroma">Pleroma-be</a></p>
